html,
body {
    width: 100%;
    height: 900px;
    margin: auto;
    background-color: #222222;

}

---------------------------------------------Soal TKPA------------------------------------------------

.tahun{
    width: 100%;
    height: 580px;
    padding-top: 150px;
    background-image: url('../image/1.jpg');;
}

#tahun1 {
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    margin-top: 100px;
    border-radius: 10px;
    width: 20%;
    height: 100px;
    background: #ff5a1d;
    display: inline-block;
    margin-left: 50px;
}
#tahun1 h1 {
    text-align: center; 
    line-height: 100px;
    color: white;
}
#tahun1:hover{
    background-color: #ff7050;
}

#tahun2{
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 20%;
    height: 100px;
    background: #ff6c37;
    display: inline-block;
    margin-left: 50px;
    margin-top: 100px;
}
#tahun2 h1{
    text-align: center;
    line-height: 100px;
    color: white;
}
#tahun2:hover{
    background-color: #ff7f50;
}
#tahun3{
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 20%;
    height: 100px;
    background: #ff7f50;
    display: inline-block;
    margin-left: 50px;
    color: white;
    margin-top: 100px;
}
#tahun3 h1{
    text-align: center;
    line-height: 100px;
}

#tahun3:hover{
    background-color: #ff8e50;
}

#tahun4{
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 10px;
    width: 20%;
    height: 100px;
    background: #ff926a;
    display: inline-block;
    margin-left: 50px;
    color: white;
    margin-top: 100px;
}
#tahun4 h1{
    text-align: center;
    line-height: 100px;
}

#tahun4:hover{
    background-color: #ff9c50;
}

----------------------------------------Akhir Soal TKPA-----------------------------------------------



-----------------------------Bundle Soal---------------------------------------------

.soal{
    width: 100%;
    height: 500px;
    padding-top: 150px;
    background: transparent;
    background-color: whitesmoke;
}

#tkpa {
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    margin-top: 50px;
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #71c5e7;
    display: inline-block;
    margin-left: 100px;
}
#tkpa h1 {
    text-align: center; 
    line-height: 300px;
    color: white;
}
#tkpa:hover{
    background-color: #71a8e7 ;
}

#soshum{
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #ff748c;
    display: inline-block;
    margin-left: 100px;
    margin-top: 50px;
}
#soshum h1{
    text-align: center;
    line-height: 300px;
    color: white;
}
#soshum:hover{
    background-color: #ff5b77;
}
#saintek{
    font-size: 25px;
    font-family: sans-serif;
    box-shadow: 2px 10px 5px rgba(0,0,0,0.8);
    border-radius: 20px;
    width: 25%;
    height: 300px;
    background: #20B2AA;
    display: inline-block;
    margin-left: 100px;
    color: white;
    margin-top: 50px;
}
#saintek h1{
    text-align: center;
    line-height: 300px;
}

#saintek:hover{
    background-color: #1c9c95;
}

-------------------------------------------------Akhir Bundle Soal-----------------------------------




.header{
    background: white;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 10;
    height: 70px;
}
.logo{
    float: left;
    margin-top: 20px;
    margin-left: 50px;
    height: 150px;
    width: 150px;
    background-image: unset;
}
.nav{
    float: right;
}
.nav a{
    color: darkslategray;
    text-decoration: none;
}
.nav li{
    font-size: 15px;
    float: left;
    margin-left: 20px;
    list-style: none;
    padding-top: 30px;
    margin-right: 20px;
}
.search{
    float: right;
    height: 40px;
    border: none;
}
.search input[type="text"]{
    border: none;
    float: left;
    width: 200px;
    margin-right: 20px;
    line-height: 40px;
    outline-color: none;
    margin-top: 20px;
}
.search a{
    background: #00CC00;
    margin-top: 50px;
}
.search i{
    margin-top: 50px;
}
.fa-search{
    margin-top: 30px;
    padding-right: 10px;
    float: right;
}
@media (min-width: 10px) and (max-width: 992px) {
    .logo{
        float: left;
        margin-top: 15px;
        margin-left: 5px;
    }
    .header{
        height: 70px;
    }
    .nav{
        float: right;
        margin-top: 10px;
        font-size: 13px;
        padding-left: -20px;
    }
    .search{
        margin-top:-5px;
    }
    .fa-search{
        margin-top: 30px;
        padding-left: 5px;
        padding-left: 5px;
        float: left;
    }
    .slide ul{
       width:100px;
        height: 100px;
    }
    .container, ul.slide li img{
        width:300px;
        height: 200px;
        padding-top: 10px;
    }
    .slide-1,.slide-2,.slide-3,.slide-4{
              height: 565px;
              width: 780px;
              margin-top: 40px;
          }.nav-next, .nav-arrow, .nav-arrow label{
            float: right;
            margin-right: 520px;
            margin-top: 20px;
                    }
}

cont{
    width: 960px;
    margin: 0 auto;
}
* {
    padding:0;
    margin:0;
}

img {
    max-width: 100%;
    height: auto;
    border-style: none;
}
ul,ol {
    list-style-type: none;
}
/* end css reset */


.container { /* posisikan letak slidernya */
    margin:7% auto;
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}
.container, ul.slide li img{
    width:1300px;
    height: 600px;
}

ul.slide {
    position: absolute;
    display: block;
    width:400%;  /* <-- Angka 3 Bergantung pada jumlah slide */
}
.caption { /* styling untuk deskripsi setiap slide */
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    bottom:0;
    padding:10px;
    color:#fff;
    left: 0;
    right: 0;
}
/* Yang membuatnya jadi slider */
ul.slide li {
    display: inline-block;
    float: left;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    ox-sizing:border-box;
    -webkit-transition: -webkit-transform 2000ms;
    -moz-transition: -moz-transform 2000ms;
    transition: -webkit-transform 2000ms, transform 2000ms;

}
ul.slide li.slide-1 {
    left: 0%;
}
ul.slide li.slide-2 {
    left: 100%;
}
ul.slide li.slide-3 {
    left: 200%;
}
ul.slide li.slide-4 {
    left: 300%;
}
#nav-1:checked ~ ul.slide li{
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    transform: translateX(0%);
}
#nav-2:checked ~ ul.slide li{
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    transform: translateX(-100%);
}
#nav-3:checked ~ ul.slide li {
    -webkit-transform: translateX(-200%);
    -moz-transform: translateX(-200%);
    transform: translateX(-200%);
}
#nav-4:checked ~ ul.slide li {
    -webkit-transform: translateX(-300%);
    -moz-transform: translateX(-300%);
    transform: translateX(-300%);
}
/* End, yang membuatnya jadi slider */

/* Navigator */
.radio-nav { /* menghilangkan radio button */
    display: none;
}
/* styling untuk tombol next dan previous slide */
.nav-arrow {
    position: absolute;
    top:45%;
    width:50px;
    height: 50px;
}
.nav-next {
    right:10px;
}
.nav-prev {
    left:10px;
}
.nav-arrow label {
    -webkit-transition:all 0.3s;
    -moz-transition:all 0.3s;
    transition:all 0.3s;
    background-color: rgba(0,0,0,0.3);
    color: #fff;
    border-radius: 50%;
    display: block;
    position: absolute;
    padding:15px 20px;
    cursor: pointer;
    z-index: 1;
    opacity: 0;
    font-weight: bold;
    line-height: 1;
}
.container:hover .nav-arrow label{
    background-color: rgba(0,0,0,0.8);
}
/* end styling untuk tombol next dan previous slide */
/*Setiap slide mempunya tombol prev dan next-nya masing-masing. Nah, tampilkan tombol yang tepat dengan kode dibawah ini*/
#nav-1:checked ~ .nav-prev label.nav-3,
#nav-1:checked ~ .nav-next label.nav-2,
#nav-2:checked ~ .nav-prev label.nav-1,
#nav-2:checked ~ .nav-next label.nav-3,
#nav-3:checked ~ .nav-prev label.nav-2,
#nav-3:checked ~ .nav-next label.nav-4,
#nav-4:checked ~ .nav-prev label.nav-3,
#nav-4:checked ~ .nav-next label.nav-1 {
    z-index: 4;
    opacity: 1;
}
.bawah{
    width: auto;
    height: 250px;
    margin-top: 30px;
    background-color: white;
    position: relative;
}
.kotak{
    width: 415px;
    height: 200px;
    padding-top: 70px;
    padding-left: 100px;
    position: static;
} .kotak h3{
    margin-left: 100px;
    margin-top: -70px;
  }.kotak h5{
       margin-top: -1px;
         margin-left: 100px;
   }
.kotak2{
    margin-top: -270px;
    width: 415px;
    height: 200px;
    margin-left: 385px;
    padding-top: 70px;
    padding-left: 100px;
    position: static;
} .kotak2 h3{
      margin-left: 100px;
      margin-top: -70px;
  }.kotak2 h5{
       margin-top: -1px;
       margin-left: 100px;
   }
.kotak3{
    margin-top: -270px;
    width: 415px;
    height: 200px;
    margin-left: 785px;
    padding-top: 70px;
    padding-left: 100px;
    position: static;
} .kotak3 h3{
      margin-left: 100px;
      margin-top: -70px;
  }.kotak3 h5{
       margin-top: -1px;
       margin-left: 100px;
   }
/*.kotak2{*/
    /*margin-top: -200px;*/
    /*width: 415px;*/
    /*height: 210px;*/
    /*margin-left: 415px;*/
    /*padding-left: 60px;*/
    /*position: relative;*/
/*}.kotak2 h3{*/
     /*margin-left: 120px;*/
     /*margin-top: -80px;*/
 /*}.kotak2 h5{*/
      /*margin-top: -1px;  margin-left: 120px;*/
  /*}*/
/*.kotak3{*/
    /*margin-top: -200px;*/
    /*width: 415px;*/
    /*height: 210px;*/
    /*margin-left: 825px;*/
    /*position: relative;*/
    /*padding-left: 60px;*/
/*}*/
.kotak4{
    margin-top: 100px;
    width: 500px;
    height: 210px;
    margin-left: 130px;
    padding-left: 20px;
    background-color: whitesmoke;
    position: relative;
}
.kotak5{
    margin-top: -210px;
    width: 500px;
    height: 210px;
    margin-left: 650px;
    padding-left: 60px;
    background-color: whitesmoke;
    position: relative;
}
.kotak5 img{
    padding-top: 50px;
    position: relative;
}
.kotak4:hover{
    background-color: gainsboro;
}
.kotak5:hover{
    background-color: gainsboro;
}
.gambar{
    float: left;
    width: 120px;
    height: 120px;
    margin-right: 50px;
}
.hotnews{
    width: auto;
    height: 400px;
    margin-top: 0;
    background-color: whitesmoke;
    position: relative;
}
.text{
    padding-top: 30px;
    height: 20px;
    position: center;
}
.text h1{
    text-align: center;
    padding-top: 20px;
}
.text h3{
    text-align: center;
    color: grey;
}
.kotak4 img{
    padding-top: 50px;
    position: relative;
}

.textl{
    padding-top: 30px;
    height: 20px;
    position: relative;
}
.footer{
    width: auto;
    height: 30px;
    background-color: #222222;
}
.footer h5 {
    padding-top: 80px;
    margin-left: 550px;
    color: whitesmoke;
    position: center;
}
a{
    text-align: center;
    color: whitesmoke;
    text-decoration: none;
}
a:hover{
    color: gainsboro;
}


